@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
    color: #333333;
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
  }

header {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: 6px;
    width: 100%;
  }
  header img {
    width: 100px;
    margin: 10px;
  }

  #acessibilidade a,
  #acessibilidade span {
    margin: 10px 10px 0 10px;
  }

  #acessibilidade div {
    margin-right: 25px;
  }

  #acessibilidade i {
    margin: 0 0.2em 0 0;
  }

  #acessibilidade a {
    color: #333333;
    ;
  }

  .contrast #footer-brasil {
    background-color: black !important;
  }

  .bannerPri img {
    height: 500px;
  }

  @media (max-width: 764px) {
    #acessibilidade a, #acessibilidade span {
      margin: 0 10px 0 0;
    }
    #acessibilidade span a span {
      display: none;
    }
  }

  @media (max-width: 800px) {
    #acessibilidade a span {
        display: none;
      }
      #acessibilidade a,
      #acessibilidade span {
        margin: 0 10px 0 0;
      }
      .pimagem {
        display: none;
      }
  }

  @media (max-width: 1500px) {
    .bannerPri img {
        height: 380px;
    }
    .textoAviso {
        font-size: 12px;
    }
  }

  /* Overriding styles */

::-webkit-input-placeholder {
    font-size: 13px!important;
    font-weight: 200;
    text-transform: lowercase;
}
input {
    font-size: 13px!important;
    line-height: 1.5rem !important;
}

.painel-card-header {
    color: white !important;
    background-color: rgb(0, 128, 68) !important;
}
.select-uf {
    font-size: 13px!important;
    font-weight: 200;
    line-height: 1.5rem;
}

#messageBox li {
    list-style-type: none;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
#messageBox .modal-title {
    font-size: 0.8rem;
}
#messageBox .modal-footer button {
    font-size: 0.8rem !important;
}

.uppercase {
    text-transform: uppercase;
  }

  .lowercase {
    text-transform: lowercase;
  }

  .capitalize {
    text-transform: capitalize;
  }
